---
title: preguntas existenciales
layout: page
---

<style>
body {
    background-color: black;
}

.form {
    margin: auto;

    padding: 10px;
}
.rainbow {
font-size: 500%;
line-height: 150%;
font-weight: 900;
text-align: center;
   /* Chrome, Safari, Opera */
  -webkit-animation: rainbow 1s infinite; 
  
  /* Internet Explorer */
  -ms-animation: rainbow 1s infinite;
  
  /* Standar Syntax */
  animation: rainbow 1s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/* Standar Syntax */
@keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

h1{
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 200%;
	font-weight: 900;
	color: white;
	line-height: 150%;
	text-align: left;
	}
	
	a {
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-size: 150%;

}	
a:link {
    color: white; 
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

input[type=submit] {
    width: 20em;  height: 2em;
}

</style>
<body>
<br>
<br>
<div class="rainbow">
preguntas <br> existenciales.
</div>
<br>
<h1>el por qué de la vida. vivimos todos enjaulados, maniatados por una sociedad perversa dominada por benthocodones? . hago tarot gratuito.</h1>
<br>
<br>

<div class="form">
	
<form action="https://formspree.io/enragedjam@gmail.com" method="POST">
    <textarea rows="4" cols="50" name="message" placeholder="tu pregunta"></textarea><br>
    <input type="submit" value="consultar">
	<input type="hidden" name="_next" value="/gracias.html" />
	<input type="text" name="_gotcha" style="display:none" />
</form>
</div>
<br>
<br>
<section>

	{% for post in site.categories.respuesta %}
		{% unless post.next %}
			<h3>{{ post.date | date: '%Y' }} &#172;</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3>{{ post.date | date: '%Y' }} &#172;</h3>
			{% endif %}
		{% endunless %}

		<ul>
			<li>
				<div class="post-date">
					<span>{{ post.date | date: "%b %d" }}
					</span>
					
				</div>
				<div class="title">
					<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
				</div>
			</li>
		</ul>

	{% endfor %}

</section>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>


</body>